:root {
    --his-card-primary-color: white;
    --his-card-primary-padding: 1em;
    --his-card-primary-border-radius: 6px;
    --his-card-primary-border: 1px solid #ccc;
    --his-card-primary-shadow: 0px -2px 19px -2px rgba(196, 190, 196, 1);  
    --his-card-primary-shadow-webkit: 0px -2px 19px -2px rgba(196, 190, 196, 1);
    --his-card-primary-shadow-moz: 0px -2px 19px -2px rgba(196, 190, 196, 1);
}

.ion-color-lightblue {
    background-color: lightblue;
    border-bottom: 0 !important;
}

.view-port-content .ion-color-lightblue .sc-ion-label-md-h {
    border: 0 !important;
}

.input_display {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid silver;
    width: 99.5%;
    font-family: "Nimbus Sans L","Arial Narrow",sans-serif;
    font-size: 2.2em;
    background: none;
    padding-left: 5px;
}

#nprogress .bar {
    height: 8px;
}

.inactive-card-color {
    background: var(--his-card-primary-color) !important;
}

.disabled-card-color {
    background-color: #cccccc;
    color: #aaaaaa;
}

.vertically-align {
    position: absolute;
    width: 100%;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.disabled-btn {
    cursor: not-allowed;
    filter: alpha(opacity=62);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .62;
}

.active-card-color {
    color: white !important;
    background: #3880ff !important;
}

.clickable:active {
   transform: translateY(4px);
   background-color: rgb(235, 235, 235);
}
.his-empty-set-color {
    background-color: rgb(255, 228, 228);
}
.his-danger-color {
    color: brown !important;
}
.his-warning-color {
    color: orange !important;
}

.his-info-color {
    color: green
}

.his-table {
    width: 100%;
}

.his-table > tr > td, .his-table > tr > th {
    text-align: left;
    padding: 0.5em;
}

.his-table > tr:nth-child(even) {
    background-color: #f8f8f8;
}

.table-borders > tr > td, .table-borders tr > th {
    border-collapse: collapse;
    border: 1px solid #c5c5c5;
    text-align: left;
    padding: 8px;
}

.his-card {
    font-size: 1em;
    border: 1px solid #cccbcb;
    background: var(--his-card-primary-color);
    padding: var(--his-card-primary-padding);
    border-radius: var(--his-card-primary-border-radius);
    -webkit-box-shadow: var(--his-card-primary-shadow-webkit);
    -moz-box-shadow: var(--his-card-primary-shadow-moz);
    box-shadow: var(--his-card-primary-shadow);
}

.tool-bar-medium-card {
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 87px;
    font-size: 0.8em;
    overflow: hidden;
    -webkit-box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
    -moz-box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
    box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
}

.full-width-ion-btn {
    width: 1600px !important;
}

body {
 color: #333333;
 font-weight: 300;
 font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
 user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.custom-modal-backdrop {
    z-index: 1000000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-modal .modal-wrapper {
    width: 65%;
    height: 45%;
}

.keypad-modal .modal-wrapper {
    width: 340px;
    height: 500px;
}

.his-title {
    font-size: 1.7em;
    padding: 0.3em;
}

.custom-modal .modal-wrapper {
    width: 90%;
    height: 80%;
}

.large-modal .modal-wrapper {
    width: 94.9%;
    height: 95.9%;
}

.full-modal .modal-wrapper {
    width: 100%;
    height: 100%;
}

.action-sheet-modal .modal-wrapper {
    width: 80%;
    height: 94%;
}

.void-modal .modal-wrapper {
    width: 75%;
    height: 45%;
}

#view-port {
    border: 1px solid #ccc;
    background: #f7f7f7;
    width: 97.8%;
    margin: auto;
    border-radius: 3px;
    padding: 2px;
    overflow: hidden;
    margin-top: 0.78em;
    height: 79vh;
  -webkit-box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
  -moz-box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
  box-shadow: -1px 4px 30px -16px rgba(0,0,0,0.28);
}

.view-port-content {
    overflow-x: auto;
    height: 98%;
}

@media (max-width: 1024px) {
    .keypad-modal .modal-wrapper {
        width: 340px;
        height: 450px;
    }
}
